<!DOCTYPE html>
<html>
    <body>
        {{perms}}
        {% if 'misc.view_secret_page' in perms %}
        <p>This is top secret.</p>
        {% else %}
        <p>You don't know the secret!</p>
        {% endif %}

        {{error_message}}
        <form method="POST" action="{% url 'show_secret' %}">
            {% csrf_token %}
            <label for="username">Username <br/></label>
            <input type="text" id="username" name="username"><br/>
            <label for="password">Password <br/></label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>