<!DOCTYPE html>
    <html>
        <body>
            <h2>Greetings!</h2>
            <p>{{greeting}}, {{name}}</p>
            <img src="https://i.pinimg.com/736x/d3/68/fb/d368fbebc27c6348ad741fda8f761259.jpg">
        </body>
    </html>