<!DOCTYPE html>
<html>
    <body>
        <!--{{request.user}}-->
        <h1>{{student.roll_no}}</h1>
        <p>{{student.name}}</p>
        <table>
            <tr>
                <th> Subject </th>
                <th> Score </th>
            </tr>
            {% for score in scores %}
            <tr>
                <td> {{score.subject_name}} </td>
                <td> {{score.subject_score}} </td>
            </tr>
            {% endfor %}
        </table>

        <p>
            <a href="{% url 'student_list' %}">All Students</a>
        </p>
        <p>
            <a href="{% url 'logout' %}">Log out</a>
        </p>
    </body>
</html>